@page "/summary"

<PageTitle>Verify your Age</PageTitle>

<body>

    <p>
	    Welcome to the website of Operation Downfall! You will use combined arms tactics, which involves the use of tanks, planes, infantry, and other equipment as you fight
        to defeat the Japanese on their home islands. You will fight across a vast battlefield which all your actions has consequences for. You will have to fight in varying
        terrain with different challenges. Hills and forests are difficult for tanks to tread through, leaving infantry to their own devices, but hopefully with artillery
        and air support. That said, beware the weather doesn't change, poor visibility will ground your air support, and lower the distance you can see, possibly allowing
        the enemy to counter-attack, or you to perhaps more easily walk into an an ambush. Make sure you don't wander aimlessly, or you could find yourself deep into
        enemy territory, beyond your supply lines, or any other combination of nasty factors. Remember! The most dangerous thing in the world is a second lieutenant with a map and compass
    </p>

</body>